*{
    font-family: 'Open Sans', 'sans serif';
    color: white;
    list-style: none;
}

body{
    min-width: 320px;
}



@media screen and (min-width: 851px){
    .slide1{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #12cdd4;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        z-index: 2;
        text-align: center;
        min-height: 600px;
    }

    .slide1Wrapper{
        display: inline-block;
        width: 90vw;
        height: 100%;
    }

    .textcontent {
        font-size: 27px;
        font-weight: 400;
        float: left;
        width: 60%;
        margin-top: 6%;
    }

    .pageTitle {
        float: left;
        font-size: 48px;
        font-weight: 800;
    }

    .introduction, .paragraph2{
      float: left;
      font-size: 27px;
      text-align: justify;
    }

    .submitNumber{
        display: inline-block;
        position: relative;
        width: 150px;
        height: 43px;
        border-radius: 3px;
        background-color: #5f9ea0;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: white;
        border: none;
        transition: 0.3s ease;
        margin: 20px 0;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
    }

    .submitNumber:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }

    .inputNumberField{
        display: block;
        position: relative;
        width: 250px;
        height: 43px;
        border: none;
        border-radius: 3px;
        padding: 0 10px;
        background-color: white;
        font-size: 13px;
        text-align: center;
        color: #12cdd4;
        margin: none;
    }

    .numberCheckForm{
        display: inline-block;
        float: right;
        text-align: left;
        padding: 20px;
        background-color: #12cdd4;
        border-radius: 3px;
        margin-top: 70%;

    }

    .formWrapper{
        position: fixed;
        display: block;
        float: right;
        right: 20px;
        background-color: #12cdd4;
        height: 100%;
    }

    .Result{
        height: 50px;
        width: 100%;
        background-color: transparent;
        border: none;
        text-align: left;
        color: white;
        font-size: 20px;
    }

    .indicators{
        position: absolute;
        bottom: 0;
    }

    .indicators i{
        display: inline-block;
        font-size: 20px;
    }

    .indicators p{
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
    }

    .slide2 {
        position: relative;
        float: left;
        z-index: 0;
        width: 100%;
        height: auto;
        background-color: #464646;
    }
    
    .slide2Wrapper{
        display: inline-block;
        margin-right: 350px;
        text-align: justify;
        margin-left: 2%;
        margin: 30px 350px 30px 30px;
        font-size: 21px;
    }

    .slide2Wrapper ul{
        text-align: center;
    }
}

@media screen and (max-width: 850px){
    .slide1{
        position: relative;
        width: 100%;
        height: 100vh;
        background-color: #12cdd4;
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
        z-index: 2;
        text-align: center;
        min-height: 670px;
    }

    .slide1Wrapper{
        display: inline-block;
        width: 90vw;
        height: 100%;
    }

    .textcontent {
        font-weight: 400;
        float: left;
        margin-top: 6%;
    }

    .pageTitle {
        font-size: 25px;
        font-weight: 800;
    }

    .introduction, .paragraph2{
      float: left;
      font-size: 19px;
      text-align: justify;
    }

    .submitNumber{
        display: inline-block;
        position: relative;
        width: 150px;
        height: 43px;
        border-radius: 3px;
        background-color: #5f9ea0;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: white;
        border: none;
        transition: 0.3s ease;
        margin: 20px 0;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
    }

    .submitNumber:hover {
      box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    }

    .inputNumberField{
        display: block;
        position: relative;
        width: 250px;
        height: 43px;
        border: none;
        border-radius: 3px;
        padding: 0 10px;
        background-color: white;
        font-size: 13px;
        text-align: center;
        color: #12cdd4;
        margin: none;
    }

    .numberCheckForm{
        display: inline-block;
        text-align: center
        padding: 20px;
        background-color: #12cdd4;
        border-radius: 3px;
    }

    .formWrapper{
        display: block;
    }

    .Result{
        height: 50px;
        width: 100%;
        background-color: transparent;
        border: none;
        text-align: center;
        color: white;
        font-size: 20px;
    }

    .indicators{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .indicators i{
        display: inline-block;
        font-size: 20px;
    }

    .indicators p{
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
    }

    .slide2 {
        position: relative;
        float: left;
        z-index: 0;
        width: 100%;
        height: auto;
        background-color: #464646;
    }
    
    .slide2Wrapper{
        display: inline-block;
        margin-right: 350px;
        text-align: justify;
        margin-left: 2%;
        margin: 30px 30px 30px 30px;
        font-size: 21px;
    }

    .slide2Wrapper ul{
        text-align: center;
    }

}